* {
  box-sizing: border-box;
}

$green: #b2d234;
$blue: #00729e;
$black: #222;

body {
  padding: 15px;
  margin: 0;
}

#subscription_box {
  .img {
    border: 1px $black solid;

    width: 100%;
    height: 50vw;
  }

  p {
    font-size: 1.2rem;
    margin: 0.2rem 0;
  }

  .price {
    font-size: 3rem;
    margin: 1.5rem 0;
    color: $blue;
  }
  button {
    width: 100%;
    height: 80px;
    margin: 20px 0;

    background-color: $green;

    font-size: 3rem;
    font-weight: 700;

    cursor: pointer;
  }
  .black_line {
    width: 100%;
    height: 1px;
    background-color: $black;
  }

  p:last-child {
    font-size: 1rem;
    text-align: center;
  }
}

#buy_form {
  #progress {
    display: grid;
    margin: 40px 30px;
    grid-template-columns: repeat(9, 1fr);
    .dot {
      width: 10px;
      height: 10px;
      background-color: $black;
      margin: auto auto;
      border-radius: 50%;
    }
    .point {
      width: 30px;
      height: 30px;
      margin: auto auto;
      border: 1px $black solid;
      border-radius: 50%;
      position: relative;
      overflow: hidden;

      div {
        width: 30px;
        height: 30px;
        transform: translate(-1px, -1px);
        transition: 0.33s ease-in-out;
        border: 5px white solid;
        background-color: $black;
        border-radius: 50%;
      }
    }
  }

  article,
  .point {
    transition: 0.34s ease-in-out;
  }

  &.purchase {
    #user_information {
      opacity: 0;
    }
    #payment {
      opacity: 0;
    }
    #progress {
      .point:nth-child(5) div {
        transform: translateX(-34.5vw);
      }
      .point:last-child div {
        transform: translateX(-69vw);
      }
    }
  }
  &.user_information {
    #purchase {
      opacity: 0;
    }
    #payment {
      opacity: 0;
    }
    #progress {
      .point:first-child div {
        transform: translateX(34.5vw);
      }
      .point:last-child div {
        transform: translateX(-34.5vw);
      }
    }
  }
  &.payment {
    #purchase {
      opacity: 0;
    }
    #user_information {
      opacity: 0;
    }
    #progress {
      .point:first-child div {
        transform: translateX(69vw);
      }
      .point:nth-child(5) div {
        transform: translateX(34.5vw);
      }
    }
  }
}
